<!DOCTYPE html>
<html>
  <head>
    <title>Granite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>
    <% if logged_in? %>
      <%= react_component "navigation/Navbarout", {name: @current_user.name} %>
    <% else %>
      <%= react_component "navigation/Navbarin" %>
    <% end %>

    <% unless flash.empty? %>
      <%= react_component('shared/Flash', flash: flash, prerender: true) %>
    <% end %>

    <%= yield %>
  </body>
</html>
